<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', path='/bootstrap/bootstrap.min.css') }}"
  />
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/dataTables.bootstrap5.min.css"> -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', path='/js/dataTables.bootstrap5.min.css') }}"
  />

  <!-- <link rel="stylesheet" type="text/css" href="assets/css/responsive.bootstrap5.min.css"> -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', path='/js/responsive.bootstrap5.min.css') }}"
  />

  <link
    rel="stylesheet"
    href="{{ url_for('static', path='/css/style.css') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', path='/css/media.css') }}"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery-migrate.js"></script>


</head>

<body id="full">
    <!-------------------------------- Sidebar ------------------------------------>
    <aside>
        <div class="aside_btn d-lg-flex d-none">
            <img src="../static/images/icons/ham.svg" alt="Hamburger Menu">
        </div>
        <div class="close-full d-lg-none d-flex">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="logo">
            <img src="../static/images/logo/logo.svg">
            <span>/</span>
            <img src="../static/images/logo/custom.png" alt="">
        </div>
        <ul>
            <li>
                <a href="../dashboard" class="active">
                    <img src="../static/images/icons/icona_1.svg" alt="">
                    <span>Dashboard</span>
  
                </a>
  
            </li>
            <li>
                <a class="sub-btn">
                    <img src="../static/images/icons/icona_2.svg" alt="">
                    <span>Attendance</span>
                    <i class="fa-solid fa-angle-down dropdown1"></i>
  
  
                </a>
                <ul class="sub-menu">
                    <li><a id="markAttendanceLink"  href="">Mark Attendance</a></li>
                    <li><a href="../attendanceReport">Attendance Report</a></li> 
                </ul>
            </li>
            <li>
                <a class="sub-btn">
                    <img src="../static/images/icons/icona_3.svg" alt="">
                    <span>Leaves</span>
                    <i class="fa-solid fa-angle-down dropdown1"></i>
  
                </a>
                <ul class="sub-menu">
                    <li><a href="../leaveApplications">Apply Leave</a></li>
                    <li><a href="../Leavebalance">Leave Balance </a></li>
                    <li><a href="../leaveReport">Leave Reports</a></li> 
                </ul>
            </li>
            <li>
                <a class="sub-btn" href="../holidays">
                    <img src="../static/images/icons/icona_4.svg" alt="">
                    <span>Holidays Calendar</span> 
  
                </a>
                 
            </li>
            <li>
                <a class="sub-btn" href="../assests">
                  <img src="../static/images/icons/icona_2.svg" alt="" />
                  <span>Asset-Issue</span>
                </a>
              </li>
            <li>
                <a class="sub-btn" href="../Noticeboard">
                    <img src="../static/images/icons/icona_2.svg" alt="">
                    <span>Noticeboard</span> 
  
                </a>
                
            </li>
            <li>
                <a class="sub-btn" href="../awards">
                    <img src="../static/images/icons/icona_5.svg" alt="">
                    <span>Awards</span> 
                </a>
               
            </li>
            <li>
                <a class="sub-btn">
                    <img src="../static/images/icons/icona_6.svg" alt="">
                    <span>Account Settings</span>
                    <i class="fa-solid fa-angle-down dropdown1"></i>
                </a>
                <ul class="sub-menu">
                      <li><a href="../profile">Profile </a></li>
                    <li><a href="../changepassword">Change Password</a></li> 
                </ul>
            </li>
            <li>
                <a class="sub-btn" onclick="logoutFunction()">
                    <img src="../static/images/icons/icona_7.svg" alt="">
                    <span>Logout</span>
  
                </a>
            </li>
        </ul>
    </aside>
    <!-------------------------------- main_area ------------------------------------>
    <div class="main_area">
        <header>
            <div class="row">
                <div class="col-md-6 col-8 d-flex align-content-center">
                    <div class="close-full close11">
                        <img src="../static/images/icons/ham.svg" alt="">
                    </div>
                    <div class="aside_btn btn_mobile d-lg-none d-flex">
                        <img src="../static/images/icons/ham.svg" alt="">
                    </div>
                    <div class="header_search">
                        <input type="search" placeholder="Search By Staff ID, Name, Role">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="col-md-6 col-4">
                    <div class="header_box_2">
                        <ul>
                            <li>
                                <img src="../static/images/gif/notification.gif" alt="">
                            </li>
                            <li onclick="var el = document.getElementById('full'); el.requestFullscreen();">
                                <i class="fa-duotone fa-solid fa-expand"></i>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/images/vactors/profile.png"  alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="hero-dash">
            <section class="add-award-section">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="headding_1">Add <span>Employee</span></h3>
                    </div>
                    <div class="col-sm-6">
                        <div class="m_buttons">
                            <a href="" class="common_btn"><i class="fa-solid fa-plus"></i> Import Staff</a>
                        </div>
                    </div>
                </div>
                <div class="table_box">
                    <div class="row">
                        <div class="col-xxl-12 col-xl-12 mb-3">
                            <div class="document-stripshow">
                                <img src="../static/images/icons/read_more.svg" alt="icon">
                                <b>Professional Details</b>
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">Employee Type*</label>
                                <select name="" id="">
                                    <option value="" selected>Employee Type</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                              <label for="">Employee ID*</label>
                              <input type="text" placeholder="2">
                            </div>

                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                              <label for="">Department</label>
                              <select name="" id="">
                                <option value="" selected>Select Department</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                              </select>
                            </div>
                        </div>

                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">Designation*</label>
                                <select name="" id="">
                                    <option value="" selected>Select Designation</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">Reporting Manager</label>
                                <select name="" id="">
                                    <option value="" selected>Search By First name or Employee ID</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">Joining Date*</label>
                                <input type="date">
                            </div>
                        </div>

                        <div class="col-xxl-12 col-xl-12 mb-3">
                            <div class="document-stripshow">
                                <img src="../static/images/icons/read_more.svg" alt="icon">
                                <b>Login Details</b>
                            </div>
                        </div>

                        <div class="col-xl-6 mb-4">
                            <div class="add-award-form">
                                <label for="">Email(Official)*</label>
                                <input type="text" placeholder="" value="">
                            </div>
                        </div>
                        <div class="col-xl-6 mb-4">
                            <div class="add-award-form">
                                <label for="">Password*</label>
                                <input type="password" placeholder="****************">
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 mb-3">
                            <div class="document-stripshow">
                                <img src="../static/images/icons/read_more.svg" alt="icon">
                                <b>Personal Details</b>
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">First Name*</label>
                                <input type="text" placeholder="First Name">
                            </div>
                        </div>

                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                              <label for="">Last Name*</label>
                              <input type="text" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                              <label for="">Email(Personal)*</label>
                              <input type="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">Mobile (Personal)*</label>
                                <input type="text" placeholder="Mobile">
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">DOB*</label>
                                <input type="date">
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">Nationality</label>
                                <input type="text" placeholder="Nationality">
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">Gender</label>
                                <select name="" id="">
                                    <option value="" selected>Gender</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">Marital Status</label>
                                <select name="" id="">
                                    <option value="" selected>Select</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 mb-3">
                            <div class="document-stripshow">
                                <img src="../static/images/icons/read_more.svg" alt="icon">
                                <b>KYC Details</b>
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">PAN*</label>
                                <input type="text" placeholder="PAN Number">
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">Aadhar Number*</label>
                                <input type="text" placeholder="Aadhaar Number">
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">UAN*</label>
                                <input type="text" placeholder="UAN">
                            </div>
                        </div>
                        <div class="col-xl-4 mb-4">
                            <div class="add-award-form">
                                <label for="">ESCI Number*</label>
                                <input type="text" placeholder="ESCI Number">
                            </div>
                        </div>
                        <div class="col-xl-12 mt-2">
                            <div class="text-center">
                                <a href="" class="save-form-emply-btn">Save <img
                                        src="../static/images/icons/read_more.svg" alt="icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer>
                <h5>Copyright ©2024 <span>A2Rms</span>. All Rights Reserved</h5>
            </footer>
        </div>

    </div>


    <!-------------------------------- js Tages ------------------------------------>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="../static/bootstrap/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
       <!--*****************  dataTables-js ******************-->
       <script type="text/javascript" src="../static/js/jquery.dataTables.min.js"></script>
       <script type="text/javascript" src="../static/js/dataTables.bootstrap5.min.js"></script>
       <script type="text/javascript" src="../static/js/dataTables.responsive.min.js"></script>
       <script type="text/javascript" src="../static/js/responsive.bootstrap5.min.js"></script>
       
</body>

</html>